{% extends 'app/base.html' %}

{% block title %}{{ post.title }} | Ivan Reshetnikov{% endblock %}

{% block body %}
<div class="resume-page">
    <nav class="resume-actions">
        <a href="/posts/">All posts</a>
        <a href="/">Resume</a>
    </nav>

    <article class="post">
        <img class="post-image" src="/static/app/posts/{{ post.image }}" alt="{{ post.alt }}">
        <h1>{{ post.title }}</h1>
        <p class="post-date">{{ post.date|date:"j M Y" }}</p>
        <div class="post-body">{{ post.body|urlize }}</div>
    </article>
</div>
{% endblock %}
